<body id="team<%= @find_mr_average.team_id %>">
  <div class="container text-center">
    <p id="mr-average">Mr. Average is<br><%= @find_mr_average.first_name %> <%= @find_mr_average.last_name %></p>
  </div>
</body>
