@import url(https://fonts.googleapis.com/css?family=Bitter:400,700,400italic);

body {
  font-family: "Bitter", serif;
}

body.single-pane {
  background: #f6f6f6;
}

.content-right-bordered {
  border-right: 1px solid #efefef;
  padding-right: 20px;
}

.top-container {
  margin-top: 30px !important;
}

.last-container {
  margin-bottom: 40px !important;
}

.al-l {
  text-align: left;
}
.al-c {
  text-align: center;
}
.al-r {
  text-align: right;
}

.page-title-h4 {
  margin-bottom: 10px;
}

.admin-control-groups {
  background: #efefef;
  padding: 10px 0;
  margin-bottom: 10px;
}

#mr-average {
  width: 100%;
  font-size: 6.5em;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

#mr-average a {
  color: inherit !important;
  text-decoration: none;
}

a:hover a:focus {
  color: !important;
  text-decoration: none !important;
}

#links {
  width: 40%;
  font-size: 2em;
  position: absolute;
  top: 94%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  opacity: 0.4;
}

#links a {
  color: inherit !important;
  text-decoration: none;
  font-style: italic;
  position: relative;
}

.other-day {
  width: 100%;
  font-size: 2em;
  position: absolute;
  top: 97%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  opacity: 0.4;
}

.other-day a {
  color: inherit !important;
  text-decoration: none;
  font-style: italic;
  position: relative;
}

.popover {
  background-color: rgba(255, 255, 255, 0.05) !important;
  max-width: 600px !important;
}

.popover .arrow {
  display: none !important;
}

.popover-title {
  text-align: center !important;
  font-size: 2em !important;
  background-color: rgba(247, 247, 247, 0.05) !important;
  border-bottom: 1px solid rgba(235, 235, 235, 0.05) !important;
}

.popover-content {
  text-align: center !important;
  font-size: 2em !important;
}

.team108 {
  // LAA
  background: #b71234;
  color: #fff;
}

.team109 {
  // ARI
  background: #a71930;
  color: #000;
}

.team110 {
  // BAL
  background: #ed4c09;
  color: #000;
}

.team111 {
  // BOS
  background: #c60c30;
  color: #002244;
}

.team112 {
  // CHC
  background: #003279;
  color: #cc0033;
}

.team113 {
  // CIN
  background: #c6011f;
  color: #fff;
}

.team114 {
  // CLE
  background: #003366;
  color: #d30335;
}

.team115 {
  // COL
  background: #333366;
  color: #000;
}

.team116 {
  // DET
  background: #001742;
  color: #de4406;
}

.team117 {
  // HOU
  background: #072854;
  color: #ff7f00;
}

.team118 {
  // KC
  background: #15317e;
  color: #74b4fa;
}

.team119 {
  // LAD
  background: #083c6b;
  color: #fff;
}

.team120 {
  // WSH
  background: #ba122b;
  color: #11225b;
}

.team121 {
  //NYM
  background: #002c77;
  color: #fb4f14;
}

.team133 {
  // OAK
  background: #003831;
  color: #ffd800;
}

.team134 {
  // PIT
  background: #fdb829;
  color: #000;
}

.team135 {
  // SD
  background: #002147;
  color: #b4a76c;
}

.team136 {
  // SEA
  background: #0c2c56;
  color: #005c5c;
}

.team137 {
  // SF
  background: #f2552c;
  color: #000;
}

.team138 {
  // STL
  background: #c41e3a;
  color: #fff;
}

.team139 {
  // TB
  background: #00285d;
  color: #9eceee;
}

.team140 {
  // TEX
  background: #bd1021;
  color: #003279;
}

.team141 {
  // TOR
  background: #003da5;
  color: #041e42;
}

.team142 {
  // MIN
  background: #072754;
  color: #c6011f;
}

.team143 {
  // PHI
  background: #ba0c2f;
  color: #ffffff;
}

.team144 {
  // ATL
  background: #002f5f;
  color: #b71234;
}

.team145 {
  // CWS
  background: #000;
  color: #c0c0c0;
}

.team146 {
  // MIA
  background: #000;
  color: #f9423a;
}

.team147 {
  // NYY
  background: #1c2841;
  color: #fff;
}

.team158 {
  // MIL
  background: #182b49;
  color: #92754c;
}
